Source: netopeer2
Section: admin
Homepage: https://github.com/CESNET/netopeer2/
Maintainer: CESNET <mvasko@cesnet.cz>
Priority: optional
Standards-Version: 4.5.0
Build-Depends: cmake,
               debhelper (>= 10),
               libyang2-dev (>= 2),
               libnetconf2-dev (>= 2),
               libsysrepo-dev (>= 2),
               pkg-config
Vcs-Browser: https://github.com/CESNET/netopeer2/tree/master
Vcs-Git: https://github.com/CESNET/netopeer2.git

Package: netopeer2
Depends: ${misc:Depends},
         ${shlibs:Depends},
         sysrepo-tools,
         openssl
Architecture: any
Description: NETCONF server
 Netopeer2 is a server for implementing network configuration management based
 on the NETCONF Protocol. This is the second generation, originally available
 as the Netopeer project. Netopeer2 is based on the new generation of the
 NETCONF and YANG libraries - libyang and libnetconf2. The Netopeer2 server
 uses sysrepo as a NETCONF datastore implementation.
 .
 Netopeer2 configuration is stored as "ietf-netconf-server" YANG module
 data in sysrepo. They are accessible for "root" and any user beloning to
 the group "netconf", which is created if it does not exist.
